body {
    /*background-color: #C1EDFF;*/
    /*background-color: white;*/
    background-color: white;
    font-family: 'Assistant', sans-serif;
}

iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gameArea {
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
}

.hide {
    display: none;
}

#logoLink{
    text-decoration: none;
}

header {
   background-color: #BDDBD9;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    position: relative;
    direction: rtl;
    display: block;
    direction: rtl;
    z-index: 3;
   -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     margin-bottom: 20px;
}


    /*כותרת משחק*/
    header > a > p {
        font-family: 'Assistant', sans-serif;
        font-size: 12pt;
        font-weight: 600;
        position: relative;
        top: -14px;
        color: black;
        display: inline-block;
        direction: rtl;
    }

/*לוגו*/
#logo {
/*    width: 53px;*/
    height: 70%;
    padding: 5px 2px;
    direction: rtl;
}

.logoHit{
    width: 21%;
    height: 47%;
}

nav {
    margin-top: -70px;
    margin-left: 10px;
  
    direction: rtl;
    
}

    nav ul {
        list-style: none;
        direction: rtl;
    }

        nav ul li {
            display: inline-block;
            float: left;
            direction: rtl;
        }

            nav ul li a {
                display: block;
                color: black;
                text-align: center;
                padding: 3px 10px;
                font-weight: 400;
                font-size: 12pt;
                font-family: 'Assistant', sans-serif;
                direction: rtl;
                text-decoration: none;
            }

                nav ul li a:hover {
                    font-weight: 600;
                    cursor: pointer;
                    font-family: 'Assistant', sans-serif;
                    direction: rtl;
                    text-decoration: none;
                }

.popUp {
    background-image: url(../images/bg.png);
    width: 400px;
    position: fixed;
    top: 81px;
    z-index: 4;
    width: 801px;
    height: 410px;
    border-radius: 27px;
    padding: 10px;
    padding-bottom: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    border: 3px solid black;
}

.pTxt {
    margin-right: 104px;
    width: 580px;
    height: 200px;
    position: relative;
    top: 29px;
}

#credit{
    font-size: 12px;
    margin-top: 5px;
}

#center{
    text-align: center;
}

.closeIcon{
    position: absolute;
    text-align: left;
    top: 21px;
    left: 10px;

}

a:visited{
    color: black;
}


h1{
 margin-right: 70px;   
}


.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
